@import '../libs/normalize/normalize.css';

:root {
    color-scheme: light dark;
}

#app {
    border: 1px black solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;

    min-width: 200px;
    min-height: 250px;
}

.conten {
    height: 100%;
    padding: .5em 0 0 0;
}

@media (prefers-color-scheme: dark) {
    #app {
        background: #313338;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    #app {
        background: #ddd;
        color: black;
    }
}


.none {
    display: none;
}